@model IEnumerable<Category>
@{
  ViewData["Title"] = "Manage Categories";
}

<h2>Manage Categories</h2>

<a asp-controller="AdminCategory" asp-action="Create" class="btn btn-primary">
  Create Category
</a>

<table class="table">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

  @foreach (var category in Model)
  {
    <tr>
      <td>@category.Name</td>
      <td>
        <a asp-action="Edit" asp-route-id="@category.Id">Edit</a> |
        <button class="btn btn-sm btn-danger"
                onclick="openDeleteModal('@Url.Action("Delete","AdminCategory")', @category.Id, '@category.Name')">
          Delete
        </button>
      </td>
    </tr>
  }
</table>
